.bd {
    display: flex;
    flex-direction: row;
    overflow:scroll;
}

.bd .left, .bd .right {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

.bd .left {
    width: 40%;
}

.bd .right {
    width: 60%;
}

.bd .left .img {
    overflow: hidden;
    padding: 0;
    margin-right: 0;
}

.bd .left .img .altice {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 100%;
}

.bd .right .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bd .right .content {
    
}