body {
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
    text-align: center;
    background-color: rgba(0, 7, 32, 0.8);
    padding: 10px;
    margin: 5%;
    border-radius: 10px;
    animation: slide 2s ease infinite;
}

@keyframes slide {
    0% {
        background-image: linear-gradient(rgba(116, 158, 188, 0.25), transparent);
    }
    25% {
        background-image: linear-gradient(transparent, rgba(116, 158, 188, 0.25) 25%, transparent);
    }
    50% {
        background-image: linear-gradient(transparent, rgba(116, 158, 188, 0.25) 50%, transparent);
    }
    75% {
        background-image: linear-gradient(transparent, rgba(116, 158, 188, 0.25) 75%, transparent);
    }
    100% {
        background-image: linear-gradient(transparent, rgba(116, 158, 188, 0.25) 100%);
    }
}

.card p, .card h1, .card h2, .card li {
    color: white;
}

.card a, .card:visited {
    color: #749ebc;
    text-decoration: none;
}

.card h1 {
    justify-content: center;
}

.card .gradient {
    display: grid;
    place-items: center;
    width: 215px;
    height: 215px;
    margin:auto;
    border-radius: 1000px;
    background-image: radial-gradient(#749ebc 50%, 73%, transparent 88%);
    animation: breathing 2s ease .1s infinite;
}

@keyframes breathing {
    50% {
        background-color: #749ebc;
    }
}

.card .portrait {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    object-fit:  cover;
    object-position: 15% 50%;
}

.card .education-list, .card .personal-list, .card .hobby-list, .card .language-list {
    margin-top: -15px
}

.personal-list {
    list-style: none;
    margin-left: -50px;
}

.card .education-list li ul {
    margin-bottom: 10px;
}

.personal, .lang, .hob, .edu {
    background-color: rgba(116, 158, 188, 0.25);
    border-radius: 10px;
}

.div {
    padding: 10px;
}

.boxes {
    display:flex;
}

.lang, .hob {
    margin: 5px 0px 10px -20px;
    padding: 10px;
    text-align: left;
    position:relative;
    top: -14px;
}

.langhob {
    margin-bottom: -45px;
}

.education-list {
    text-align: left;
}

.edu, .langhob {
    width: 50%
}

.edu {
    text-align: left;
    position:relative;
    right: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
}